@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Hind+Siliguri:wght@500&family=Lateef&family=Orbitron&family=Poppins:wght@500&display=swap');
header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;

}
body{
    font-family: 'Poppins', sans-serif;
}
.home{
    margin: 100px 20px;
}
.cityTour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cityTour h2{
   margin-bottom: 10px;
   margin-top: 0px;
}
.cityTour >div{
    padding: 5px;
    margin: 0 5px;
}

.cityTour >div >div:hover {
    transform: scale(1.01);
    transition: all 500ms ease;
}
.cardFeature{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardFeature:hover{
    transform: scale(1.01);
    transition: all 500ms ease;
}
.cardFeature img{
    width: 100%;
    background-color: rgb(235, 238, 240) ;
}
.cardBody{
    text-align: left;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color:rgb(235, 238, 240);
}

/* for tour  */
.tourJoin {
    position: relative;
}
.tourJoin:hover button{
    display: block;
}
.tourJoin button{
    display: none;
    background-color: orange;
    color: white;
    font-size: 25px;
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 5px;
    height: 50px;
    border: none;
    border-radius: 10px;
}
.cartJoin{
    margin: 100px 20px;
   text-align: center;
}
/* login  */


.login{
    margin: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.login input{
    display: block;
    padding: 5px;
    margin: 10px;
    width: 400px;
    font-size: 25px;
}
.login h1 {
    color: green;
}
.login .LoginOr {
    display: flex;
    align-items: center;
    justify-content: center;

}
.LoginOr p{
    padding: 5px;
}
.login .LoginOr div{
    margin-bottom: 10px;
    width: 200px;
    height: 1px;
    background-color: rgb(165, 213, 255);
}
.login input[type=submit]{
    border: none;
    background-color: orange;
    color: white;
}
.err{
    background-color: rgb(255, 170, 170);
    border: 1px solid red;
}
.success{
    background-color: rgb(163, 235, 163);
    border: 1px solid green;
}
/* for blog question  */
.blogq-1, .blogq-2, .blogq-3 {
    border-radius: 10px;
    background-color: rgb(206, 248, 248);
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.blogq-2 {
    background-color: rgb(216, 240, 240);
}
.blogq-3 {
    background-color: rgb(209, 234, 234);
}

/* for apps download / */
.appsDownload{
    padding: 100px;
    color: white;
}
.appLogo{
    position: absolute;
    z-index: 20;
    top: 200px;
    left: 100px;
}
.appLogo a img{
    margin: 4px;
}
@media screen and (max-width:500px){
    .appLogo{
        position: absolute;
        z-index: 20;
        top: 150px;
        left: 70px;
        right: 4px;
    }
    * img {
        width: 100%;
    }
    .appsDownload{
        padding: 5px;
    }
    footer > div{
        flex-direction: column;
    }
    .subscribe{
        margin: 20px;
    }
}
/* for footer */
footer{
    margin: 50px 5px;
    font-family: 'Poppins', sans-serif;
}
footer >.footerIn{
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer >p{
    text-align: center;
}
.subscribe input {
    height: 50px;
    border: none;
}
.subscribe {
    
    display: flex;
    align-items: center;
}
.subscribe input[type=email]{
    border-radius: 10px 0 0 10px;
    width: 250px;
    padding: 10px;
    font-size: 23px;
    background-color: rgb(227, 238, 238);
}
.subscribe input[type=submit]{
    background-color: red;
    border-radius: 0 10px 10px 0;
    color: white;
    font-size: 20px;

}


.social ul{
    list-style: none;
    display: flex;
}
.social ul li a{
    text-decoration: none;
    font-size: 40px;
    color: grey;
    padding: 10px;
    font-family: loto;
}
.social ul li a:hover {
   
    color:  rgb(11, 189, 248);
}